.category-title
{
   font-family: unquote("Roboto");
   font-size: 18px;
}
.categories-grid-display
{
   display: flex;
   flex-direction: column;
}
.area-categories
{
   float: left;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 30%;
   //background-color: rgb(244, 244, 244);
   //border-radius: 1rem;
   margin: 0.5rem;
}
.header-text-categories
{
   font-size: 2rem;
   font-family: unquote("Roboto");
   text-align: center;
   width:100%;
   font-weight: 600;
   margin-bottom: 1.5rem;
   margin-top: 1.5rem;
}
.category-name
{
   font-family: unquote("Roboto");
   font-size: 1.4rem;
   font-weight: 500;
}
.category-card
{
   margin: 2rem;
   margin-top: 0;
   padding: 0.5rem;
}